# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Data files
# *.npy
# *.pkl
# dataHan256/

# Generated images
# *.png

# PDFs
# *.pdf